.colorFondo
{
	background: #7ace67;
}

.logo
{
	padding: 10px 25px;
}

.menu
{
	padding: 30px 20px;
	display: inline-block;
	color: white;
	text-align: right;
}

.menu:hover
{
	text-decoration: none;
	color: green;
}

.carrousel-inner
{
	text-align: center;
}

.carrousel .item > img
{
	display: inline-block;
}

.textoSlider
{
	padding-left: 500px;
}

.slider
{

}

.container 
{
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto;
}

.redesSociales
{
	text-align: right;
}

#barraInferior
{
  height:4em;
  font-size: 14pt;
}
.enLinea
{
	color: white;
  display: inline-block;
  height: 100%;
  line-height: 4em;
}

.desaparece{
}

.fotitos
{
	max-width: 100%;
	max-height: 100%;
	margin: 3px;
}

footer
{
	margin-top:3em;
	background-color: #cccfd1;
	padding-bottom: 3em
}

.padIcon
{
	padding: 5px;
}

@media (max-width: 550px){
	.slider{
		
	}
	.textoSlider{
		padding-left: 100px;
		font-size: 8pt;
	}
	.menu{
		background: #48CE69;
		border: 1px solid #7ace67;
		text-align:center;
		padding: 1em;
		line-height: 10px;
	}
	.desaparece{
		display: none;
	}
	.redesSociales{
		text-align:center;
	}
}